<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Travel app | The journey of your dreams</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div id="app">
    <div class="container">
      <h1>Let's plan your vacation</h1>
      <div class="holder">
        <input type="text" id="location" placeholder="Where do you want to travel?">
        <label for="travel-date"></label><input type="date" id="travel-date" min="2021-08-18">
        <button id="generate" type="submit"> Submit </button>
        <div id="entryHolder">
          <div id="intro"></div>
          <div id="when"></div>
          <div id="countryinfo"></div>
        </div>
        <div id="imageholder">
          <figure>
            <img id="location-image">
            <figcaption></figcaption>
          </figure>
        </div>

      </div>
      </div>

      <footer>
      </footer>
      <script type="text/javascript" src="/main.js"></script>
      <script>
            // // Check that service workers are supported
            // if ('serviceWorker' in navigator) {
            //     // Use the window load event to keep the page load performant
            //     window.addEventListener('load', () => {
            //         navigator.serviceWorker.register('/service-worker.js')
            //         .then(reg => console.log("Service Worker: Registered!"))
            //         .catch(err => console.log("Error ===> ", err))
            //     });
            // }
      </script>
</body>

</html>