<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel app | The journey of your dreams</title>
    </head>

    <body>

        <div id = "app">
            <div class="container">
           <h1>Let's plan your vacation</h1>
            <div class ="holder zip">
              <label for="zip">Firstly, where do you want to travel?</label>
              <input type="text" id="name" placeholder="">
            </div>
            <div class ="holder feel">
              <!-- <label for="feelings">Great, thanks! And when are you planning to travel?</label> -->
              <!-- <textarea class= "myInput" id="feelings" placeholder="" rows="1" cols="40"></textarea> -->
              <button id="generate" type = "submit"> Submit </button>
            </div>
            <div class ="holder entry">
             <div id = "entryHolder">
             <div id = "date"></div>
             <div id = "city"></div>
             <div id = "temp"></div>
             <div id = "content"></div>
            </div>
            </div>
            </div>

        <footer>
        </footer>
        <script type="text/javascript" src="/main.js"></script>
        <script>
            // // Check that service workers are supported
            // if ('serviceWorker' in navigator) {
            //     // Use the window load event to keep the page load performant
            //     window.addEventListener('load', () => {
            //         navigator.serviceWorker.register('/service-worker.js')
            //         .then(reg => console.log("Service Worker: Registered!"))
            //         .catch(err => console.log("Error ===> ", err))
            //     });
            // }
           </script>
    </body>

</html>
