@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto&display=swap');
@import "media-queries.scss";

body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background: #fff;
    background-image: url("/src/media/background.jpg");
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    color: #fff;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
}

h1 {
    font-size: 55px;
    margin: 0px 0 32px 0;
    color: #fff;
}

p {
    color: #fff;
    font-style: italic;
}

figure {
    margin-bottom: 0px;
}

figcaption {
font-style: italic;
font-size: 12px;
}

#date {
    margin-top: 32px;
}

#content {
    margin: 16px 0 0 0;
}

#entryHolder{
    margin-top: 16px;
    margin-bottom: 16px;
}

label {
    display:block;
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

button {
    padding: 16px;
    background: #6786bc;
    color: #fff;
    font-size: 21px;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 0px;
    width: 150px;
}

textarea {
    background:#dfdfdf;
    color: #6b6b6b;
    border-color: rgba(0,0,0,0.09);
    font-size: 20px;
    margin: 16px 0 16px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    padding: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

#intro {
    font-weight: bold;
    font-size: 24px;
}

#countryinfo {
    margin-top: 32px;
}

#location-image {
width: 100%;
}

a {
    color: #fff;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #878787;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #878787;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #878787;;
}
